body {

    background-image: linear-gradient(319deg, #bbff99 0%, #ffec99 37%, #ff9999 100%);


}

::-webkit-scrollbar {
    background-color: transparent;
    width: 0px;
    height: 0px;
}



.barra {
    grid-area: barra;
    text-align: center;
    font-family: 'Merienda', cursive;
    width: 1000px;
    padding: 25px;
    margin-left: 550px;
    font-size: 20px;
    margin-top: -70px;

}

.barra div {
    display: inline-block;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;

}

ul {
    list-style: none;
}

.barra div a {
    overflow: hidden;
    font-weight: bold;
    color: #9932CC;
    white-space: nowrap;
    text-decoration: none;

}



.sucursales {
    grid-area: sucursales;
    margin-left: 30px;

}

.quienes {
    grid-area: quienes;
    margin-left: 30px;

}


.pedidos {
    grid-area: pedidos;


}

.barra div a:hover {
    background-color: #ffd0008f;
    text-decoration: none;

}





.icono-footer {
    display: flex;
    gap: 20px;
    margin-left: 100px;
}


.nav2 a:hover {
    background-color: #ffd0008f;
    text-decoration: none;
}

.nav2 a{
    text-decoration: none;
}
.nav2 {
    margin-left: 600px;
    display: flex;
    gap: 50px;
    font-weight: bold;
    color: #9932CC;
    font-size: 20px;

}






.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    padding: 90px 200px;
    grid-area: footer;
    font-family: 'Merienda', cursive;


}


.titulo1 {
    grid-area: titulo1;
}

.encabezado {
    grid-area: encabezado;
}

.cremas {
    grid-area: cremas;
    margin-left: 400px;
    margin-top: -500px;
    font-family: 'Merienda', cursive;

}

.cremas ul {
    margin-left: -280px;
    color: #8333FF;
    font-weight: bold;


}

.cremas li:hover {
    color: orange;


}

.agua li:hover {
    color: orange;


}

.ddl li:hover {
    color: orange;


}

.choco li:hover {
    color: orange;


}

.cremas h3 {
    margin-left: -230px;
    color: #8333FF;
    font-weight: bold;


}

.ddl {
    grid-area: ddl;
    margin-left: 90px;
    margin-top: -500px;
    font-family: 'Merienda', cursive;

}

.ddl ul {
    margin-left: -50px;
    color: #8333FF;
    font-weight: bold;

}

.choco {
    grid-area: choco;
    margin-left: 150px;
    margin-right: 30px;
    margin-top: -550px;
    font-family: 'Merienda', cursive;
}


.choco ul {
    margin-left: -90px;
    color: #8333FF;
    font-weight: bold;
}

.choco h3 {
    color: #8333FF;
    font-weight: bold;
    margin-left: -60px;

}

.agua ul {
    color: #8333FF;
    font-weight: bold;

}

.ddl h3 {
    color: #8333FF;
    font-weight: bold;


}

.agua {
    grid-area: agua;
    margin-left: 550px;
    margin-top: -550px;
    font-family: 'Merienda', cursive;
}

.agua h3 {
    color: #8333FF;
    font-weight: bold;
    margin-left: -10px;
    margin-right: -50px;


}

.historia h3 {

    margin-left: 190px;
    font-family: 'Berkshire Swash', cursive;
    font-family: 'Merienda', cursive;
    font-family: 'Trochut', cursive;
    font-size: 70px;
    margin-top: 50px;
}

.historia p {

    margin-left: 130px;
    width: 70%;
    text-align: justify;
    font-family: 'Merienda', cursive;
    font-size: 20px;
    margin-top: -30px;

}


.historia {
    grid-area: historia;
    margin-top: 50px;
    background-color: #bbff99;
    width: 70%;
    margin-left: -220px;

}

.titulosabores {
    grid-area: titulosabores;


}


.titulosabores h2 {
    text-align: center;
    margin-top: 40px;
    margin-left: 120px;
    font-family: 'Berkshire Swash', cursive;
    font-family: 'Merienda', cursive;
    font-family: 'Trochut', cursive;
    font-size: 70px;
    color: orange;
}


.index {
    grid-area: index;
    padding-top: 30px;
    width: 130px;
    height: 120px;
    padding-block-end: 50px;
}


.imgsabor2 {
    grid-area: imgsabor2;
    margin-top: 100px;
    margin-left: 350px;

}

.imgsabor2 img {
    margin-left: -100px;
    transform: rotate(-30deg);
    opacity: .5;
    width: 700px;
    height: 600px;
}

.imgsabor1 {
    grid-area: imgsabor1;

    margin-top: 100px;


}

.imgsabor1 img {
    width: 500px;
    height: 500px;
    transform: rotate(30deg);
    opacity: .5;
}

.carousel1 {
    width: 100vw;
    height: auto;

}

.carousel1 ul {
    display: flex;
    padding: 0;
    width: 400%;
    margin-top: 30px;
    animation: slide 30s infinite alternate ease-in-out;
}

.carousel1 li {
    width: 100%;
    list-style: none;
    position: relative;
}

.carousel1 img {
    width: 100%;
}

@keyframes slide {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

.carousel2 {
    width: 35vw;
    padding: 40px;
    overflow: hidden;
    margin-top: 90px;
}


.carousel2 ul {
    display: flex;
    gap: 10px;

    width: 400%;
    animation: slide 12s infinite alternate;
}

.carousel2 li {
    width: 100%;
    list-style: none;

}

.carousel2 img {
    width: 100%;

}


@keyframes slide {
    0% {
        margin-left: 0%;
    }

    20% {
        margin-left: 0%;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}




.contenedor-grid {

    overflow: hidden;
    display: grid;
    grid-template-areas:
        "encabezado encabezado encabezado encabezado"
        "imgsabor1 titulosabores titulosabores imgsabor2"
        "agua cremas choco ddl"
        "carousel2 carousel2 historia historia"
        "footer footer footer footer"


    ;

}



.icon {
    height: 20px;
    margin: 5px;
    cursor: pointer;
}

@keyframes slide-right {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100px);
    }
  }

/* ----------------------------------------------
 * Generated by Animista on 2023-10-5 15:42:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
/* ----------------------------------------------
 * Generated by Animista on 2023-10-5 15:47:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  


/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  

  .tranos { font-size: large;
    font-style: normal;
    font-weight: 900;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding: 20px;
    color: blue;
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
}

.tranos2 {font-size: 40px; 
    color: blueviolet;
    font-size: medium
    font-family: ;
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
}

.contenedor-nombre {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 5px;
    display: flex
    justify-content: space

        -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
                animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
}
.contenedor-apellido {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-align: center;
    display: flex
    justify-content: space;
        -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
                animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
}



.contenedor-mail {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-align: center; 
    display: flex
    justify-content: space;
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
}

.contenedor-edad {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-align: center;
    display: flex
    justify-content: space;
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
}

.Zona {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-align: center;
    display: flex
    justify-content: space;
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
}

.contenedor-contanos {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-align: center;
    display: flex
    justify-content: space;
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
}
textarea#com {min-width: 700px
max-with: 700px; min-height: 300px;
max: height 700px;}

.carga{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-align: center;
    margin: 10px;
    display: flex
    justify-content: space;
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
}

.g-recaptcha{margin-left: 600px;
    
    display: flex
    justify-content: space;
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
}

.bases{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-align: center;
    display: flex
    justify-content: space;
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
}

.enviar{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-align: center;
    display: flex
    justify-content: space
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
}

.button { background: black;
            cursor: pointer;
        border: none;
    padding: 16px 32px;
color: white;
font-size: 24px;
font-weight: bold;
position: relative;
border-radius: 12px;}
button:before {content: "";
position: absolute;
top: 0;
left: 0;
z-index: -1;
width: 100%;
height: 100%;
background: linear-gradient(45deg, red, blue, deeppink, blue, red, blue, deeppink, blue,);
background-size: 800%; border-radius: 10px;
filter: blur(8px);
animation:  glowing {20s, linear, infinite}

@keyframes glowing {0% {background-position: 0 0}
50% {background-position: 400% 0;}
100% {background-position: 0 0;}
}
